* {
    font-family: system-ui;
}

.sticky-header {
    position: sticky;
    top: 0;
    background-color: #1e1e1e;
    color: white;
    padding: 15px 20px;
    border-bottom: 5px solid #444;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sticky-header nav a {
    color: #ddd;
    margin-left: 15px;
    text-decoration: none;
    font-weight: 500;
}

.sticky-header nav a:hover {
    color: rgb(234, 255, 0);
}

.content {
    margin-top: 30px;
    padding: 20px;
    font-style: 18px;
    line-height: 1.6;
    min-width: 800px;
}