body {
    font-family: Verdana;
}

.box {
    width: 150px;
    height: 150px;
    color: white;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    border-radius: 6px;
    margin-top: 20px;
}

#box1 {
    background: red;
    top: 50px;
    left: 5px;
    z-index: 1;
}

#box2 {
    background: green;
    top: 150px;
    left: 100px;
    z-index: 2;
}

#box3 {
    background: blue;
    top: 250px;
    left: 200px;
    z-index: 3;
}